@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,600,700|Montserrat:900,700");
html {
    overflow-x: hidden;
}

body {
    line-height: 1.6;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: aliceblue;
    font-weight: 400;
    background: linear-gradient( 90deg, #060606 26%, #3d3d3d 67%, #000);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #111;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 44px;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.3rem;
    line-height: 30px;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

p {
    line-height: 25px;
    font-family: MuseoSans-500;
    color: antiquewhite;
    font-weight: 900;
}

.navbar-toggle .icon-bar {
    background: #FF715B;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
    box-shadow: none;
    height: 45px;
    outline: none;
    font-size: 14px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
    box-shadow: none;
    border: 1px solid #FF715B;
}

.form-control {
    box-shadow: none;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #FF715B;
}

.py-7 {
    padding: 7rem 0px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: .5px;
    padding: .7rem 2rem;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .35s ease;
}

.btn.btn-icon i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.btn:focus {
    outline: 0px;
    box-shadow: none;
}

.btn-main {
    background: #000f42;
    border-color: #000f42;
    color: whitesmoke;
}

.btn-main:hover {
    border-color: #000f42;
    color: black;
    background-color: transparent;
}

.btn-main-2 {
    background: #FF715B;
    color: #fff;
    border-color: #FF715B;
}

.btn-main-2:hover {
    color: #FF715B;
    background: transparent;
    border-color: #FF715B;
}

.btn-solid-border {
    border: 2px solid #FF715B;
    background: transparent;
    color: #111;
}

.btn-solid-border:hover {
    border: 2px solid #FF715B;
    color: #fff;
    background: #FF715B;
}

.btn-transparent {
    background: transparent;
    color: #111;
    border-color: #6F8BA4;
}

.btn-transparent:hover {
    background: #6F8BA4;
    color: #fff;
}

.btn-white {
    background: #fff;
    border-color: #fff;
    color: #111;
}

.btn-white:hover {
    background: #FF715B;
    color: #fff;
    border-color: #FF715B;
}

.btn-solid-white {
    border-color: #fff;
    color: #fff;
}

.btn-solid-white:hover {
    background: #fff;
    color: #111;
}

.btn-round {
    border-radius: 4px;
}

.btn-round-full {
    border-radius: 50px;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

.bg-gray {
    background: #eff0f3;
}

.bg-primary {
    background: #FF715B;
}

.bg-primary-dark {
    background: #ff4528;
}

.bg-primary-darker {
    background: #f42100;
}

.bg-dark {
    background: #111;
}

.bg-gradient {
    background-image: linear-gradient(145deg, rgba(19, 177, 205, 0.95) 0%, rgba(152, 119, 234, 0.95) 100%);
    background-repeat: repeat-x;
}

.section {
    padding: 100px 0;
}

.section-sm {
    padding: 70px 0;
}

.section-title {
    margin-bottom: 70px;
}

.section-title .title {
    font-size: 50px;
    line-height: 50px;
}

.text-sm {
    font-size: 14px;
}

.text-md {
    font-size: 2.25rem;
    font-family: 'Hind Siliguri', sans-serif;
}

.text-lg {
    font-size: 3.75rem;
}

.no-spacing {
    letter-spacing: 0px;
}


/* hrefff  */

a {
    color: #111;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #FF715B;
    text-decoration: none;
}

a:focus {
    outline: none;
}

.content-title {
    font-size: 40px;
    line-height: 50px;
}

.page-title {
    padding: 170px 0px 20px 0px;
    position: relative;
}

.page-title .block h1 {
    color: whitesmoke;
}

.page-title .block p {
    color: #fff;
}

.page-title .breadcumb-nav {
    margin-top: 22px;
    padding-top: 44px;
}

.slick-slide:focus,
.slick-slide a {
    outline: none;
}

.aLinks a {
    color: black;
    font-weight: 700;
}

@media (max-width: 480px) {
    h2,
    .h2 {
        font-size: 1.3rem;
        line-height: 36px;
    }
}

.header-padding {
    padding: 0px 80px;
}

.navigation {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
}

.navigation .btn {
    box-shadow: none;
}

#navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

#navbar .nav-link {
    padding-left: 26px;
    font-weight: 500;
    color: whitesmoke;
    font-family: "Rubik", sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    transition: all .25s ease;
}

#navbar.nav-text-white .nav-link {
    /* color: #fff; */
}

#navbar.nav-text-white .navbar-brand {
    color: #fff;
}

.navbar-brand {
    font-weight: 600;
}

.dropdown-menu {
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all .2s ease-in, visibility 0s linear .2s, -webkit-transform .2s linear;
    transition: all .2s ease-in, visibility 0s linear .2s, transform .2s linear;
    transition: all .2s ease-in, visibility 0s linear .2s, transform .2s linear, -webkit-transform .2s linear;
    -webkit-transition: all .2s ease-in, visibility 0s linear .2s, -webkit-transform .2s linear;
    -o-transition: all .2s ease-in, visibility 0s linear .2s, -o-transform .2s linear;
    -ms-transition: all .2s ease-in, visibility 0s linear .2s, -ms-transform .2s linear;
    width: 250px;
    margin-top: 15px;
    padding: 0px;
    border-radius: 0px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    transition: all .45s ease 0s;
    opacity: 1;
}

.dropdown-item {
    padding: .8rem 1.5rem;
    text-transform: uppercase;
    font-size: 14px;
}

.dropdown-item:hover {
    background: #FF715B;
    color: #fff;
}

ul.dropdown-menu li {
    padding-left: 0px !important;
}

#navbar.nav-text-white .mobile-logo {
    display: none;
}

@media (max-width: 480px) {
    #navbar {
        background: #fff;
    }
    #navbar.nav-text-white .nav-link {
        color: #111;
    }
    #navbar.nav-text-white .mobile-logo {
        display: block;
    }
    #navbar.nav-text-white .hidden-logo {
        display: none;
    }
    .navbar-toggler {
        color: #111;
    }
    .dropdown-menu {
        display: none;
        width: 100%;
        text-align: center;
    }
    h2,
    .h2 {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 36px;
    }
    .header-padding {
        padding: 0px 30px;
    }
}

@media (max-width: 400px) {
    #navbar {
        background: #fff;
    }
    #navbar.nav-text-white .nav-link {
        color: #111;
    }
    #navbar.nav-text-white .mobile-logo {
        display: block;
    }
    #navbar.nav-text-white .hidden-logo {
        display: none;
    }
    .navbar-toggler {
        color: #111;
    }
    .dropdown-menu {
        display: none;
        width: 100%;
        text-align: center;
    }
    .header-padding {
        padding: 0px 30px;
    }
}

@media (max-width: 768px) {
    #navbar {
        background: black;
    }
    .page-title .block h1 {
        font-size: 16px;
    }
    #navbar.nav-text-white .nav-link {
        color: #111;
    }
    .navbar-toggler {
        color: #111;
    }
    .dropdown-menu {
        display: none;
        width: 100%;
        text-align: center;
    }
    #navbar.nav-text-white .mobile-logo {
        display: block;
    }
    #navbar.nav-text-white .hidden-logo {
        display: none;
    }
    .header-padding {
        padding: 0px 30px;
    }
}

@media (max-width: 992px) {
    #navbar.nav-text-white .nav-link {
        color: whitesmoke;
    }
    #navbar.nav-text-white .mobile-logo {
        display: block;
    }
    #navbar.nav-text-white .hidden-logo {
        display: none;
    }
    .navbar-toggler {
        color: #111;
    }
    .dropdown-menu {
        display: none;
        width: 100%;
        text-align: center;
    }
    .header-padding {
        padding: 0px 30px;
    }
}

.bg-1 {
    background: url(../images/Background//WHat\ we\ do.png) no-repeat 50% 50%;
    background-size: cover;
    border-bottom: 1px solid;
    margin-top: 5%;
    background-color: transparent;
}

.bg-2 {
    background: url("../images/bg/home-5.html");
    background-size: cover;
}

.banner {
    position: relative;
    overflow: hidden;
    background: #fff;
    background: url(../images/Background/Earth-17235.gif) no-repeat 80% 50%;
    background-size: cover;
    padding: 120px 0px;
    min-height: 800px;
    border-bottom: 1px solid;
    border-radius: 35px;
}

.banner .block {
    padding-top: 0px;
    margin-top: -13%;
    color: whitesmoke;
}


/* .banner .block h1 {
    font-size: 65px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -1.2px;
    text-transform: capitalize;
    color: whitesmoke;
} */

.letter-spacing {
    letter-spacing: 2px;
}


/* .serviceshome .content a {
    color: green;
    font-weight: 500;
    font-size: 18px;
} */

.serviceshome .content a {
    color: green;
    font-weight: 700;
    font-size: 18px;
}

.serviceshome img {
    width: 134px;
    display: flex;
    margin: auto;
    margin-bottom: 14px;
    border-radius: 12px;
}

.serviceshome .row {
    margin: auto;
    justify-content: center;
}

.text-color {
    color: #000f42;
    font-weight: 700;
    border-bottom: 2px solid;
}

@media (max-width: 480px) {
    .banner .block h1 {
        font-size: 38px;
        line-height: 50px;
    }
    .banner {
        padding: 126px 0 151px 0;
    }
}

@media (max-width: 400px) {
    .banner .block h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media (max-width: 768px) {
    .banner .block h1 {
        font-size: 56px;
        line-height: 70px;
    }
}

*/ .about-item i {
    font-size: 50px;
}

.about-item a {
    color: #FF715B;
    font-weight: 500;
}

.about-item .icon {
    float: left;
}

.about-item .content {
    padding-left: 80px;
}

.process {
    position: relative;
}

.process:before {
    position: absolute;
    content: "";
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("../images/bg/bg-half.png") no-repeat;
    background-position: top right;
}

.icon-block {
    padding: 50px 40px;
    border-radius: 10px;
    border: 1px solid;
}

.icon-block i {
    font-size: 59px;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 16px;
    border-radius: 10px;
    display: inline-block;
    color: green;
}

.icon-block h5 {
    margin-top: 25px;
    margin-bottom: 15px;
    color: white;
}

.icon-block p {
    margin-bottom: 0px;
    font-family: MuseoSans-500;
    font-weight: 700;
}

.feature-list ul li {
    margin-bottom: 15px;
    color: #111;
}

.feature-list ul li i {
    color: #FF715B;
}

.feature {
    background: linear-gradient(to bottom, #05a5f9, #10dab7);
}

.feature-block {
    background: #fff;
    padding: 30px;
    text-align: center;
}

.feature-block i {
    font-size: 40px;
}

.feature-block h5 {
    margin-top: 20px;
}

.text-lg {
    font-size: 50px;
}

.team-block img {
    border-radius: 5px;
}

.service-item-list {
    padding: 15px 30px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 0 20px;
}

.service-item-list i {
    font-size: 30px;
    line-height: 1.1;
    margin-right: 20px;
    float: left;
    color: #FF715B;
}

.service-item-list p {
    padding-left: 50px;
    line-height: 1.6;
    margin-bottom: 0px;
    color: #111;
}

.mb-50 {
    margin-bottom: 50px;
}

.content-padding {
    padding: 100px 0px;
}

.service-img {
    padding-right: 20px;
}

.service-img img {
    border-radius: 25px;
    box-shadow: 0px 0px 40px 0px rgba(85, 128, 255, 0.2);
}

.service-img img:hover {
    border-radius: 50px;
    padding: 23px;
    box-shadow: none;
}

.case-img img {
    border-radius: 25px;
    box-shadow: 0px 0px 40px 0px rgba(85, 128, 255, 0.2);
}

.case-img img:hover {
    border-radius: 50px;
    padding: 23px;
    box-shadow: none;
}

.heading {
    margin-bottom: 90px;
}

.case-img,
.case-content {
    padding: 30px;
}

.case-timeline {
    position: relative;
}

.case-timeline-divider {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    width: 2px;
    height: auto;
    margin-left: -1px;
    background-color: #eee;
}

.case-timeline-dot {
    display: block;
    position: absolute;
    top: 75px;
    left: 50%;
    z-index: 1;
    content: " ";
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: #fff;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

@media (max-width: 480px) {
    .case-timeline-dot {
        display: none;
    }
    .case-timeline-divider {
        display: none;
    }
}

@media (max-width: 400px) {
    .case-timeline-dot {
        display: none;
    }
    .case-timeline-divider {
        display: none;
    }
}

@media (max-width: 768px) {
    .case-timeline-dot {
        display: none;
    }
    .case-timeline-divider {
        display: none;
    }
}

@media (max-width: 992px) {
    .case-timeline-dot {
        display: none;
    }
    .case-timeline-divider {
        display: none;
    }
}

.cta {
    background: url("../images/bg/bg-2.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.mb-30 {
    margin-bottom: 30px;
}

.text-color-primary {
    color: #FF715B;
}

.testimonial-wrap {
    margin: auto;
    display: flex;
}

.testimonial-block {
    margin: 0px 10px;
    padding: 30px 0px;
    margin-left: 12px;
    padding-left: 15px;
    padding-right: 0px;
    border: 0.5px solid;
    border-radius: 12px;
}

.testimonial-block p {
    padding: 60px 40px;
    position: relative;
    margin-bottom: 30px;
    font-size: 18px;
}

.testimonial-block p:after {
    position: absolute;
    content: "";
    left: 20px;
    bottom: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 30px 0 0;
    border-color: transparent;
}

.testimonial-block .client-info .client-img {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.testimonial-block .client-info .client-img img {
    border-radius: 100%;
    width: 59px;
}

.testimonial-block .client-info .info h6 {
    margin-bottom: 0px;
    color: aqua;
}

@media (max-width: 480px) {
    .testimonial-wrap {
        margin-left: 0px;
    }
}

@media (max-width: 400px) {
    .testimonial-wrap {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .testimonial-wrap {
        margin-left: 0px;
    }
}

@media (max-width: 992px) {
    .testimonial-wrap {
        margin-left: 0px;
    }
}


/* contact Us form */

.contact-form-wrap .form-group {
    padding-bottom: 15px;
    margin: 0px;
    padding: 12px;
}

.contact-form-wrap .form-group .form-control {
    height: 48px;
    border: 1px solid #EEF2F6;
    box-shadow: none;
    width: 100%;
    background: transparent;
    border-radius: 8px;
}

.contact-form-wrap .form-group-2 {
    margin-bottom: 13px;
}

.contact-form-wrap .form-group-2 textarea {
    height: 106px;
    border: 1px solid #EEF2F6;
    box-shadow: none;
    width: 97%;
    padding: 13px;
    display: flex;
    background-color: transparent;
    margin: auto;
    border-radius: 8px;
}

.address-block li {
    margin-bottom: 15px;
}

.address-block li i {
    font-size: 20px;
    width: 20px;
}

.short-info li {
    margin-bottom: 25px;
}

.social-icons li {
    margin: 0 6px;
}

.social-icons a {
    margin-right: 10px;
    font-size: 18px;
}

.short-info {
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 12px;
}

.mt-90 {
    margin-top: 90px;
}


/* FOOTER  */

.footer {
    padding-bottom: 10px;
}

.footer .copyright a {
    font-weight: 600;
}

.lh-35 {
    line-height: 35px;
}

.logo {
    font-weight: 600;
    letter-spacing: 1px;
}

.logo h3 {
    color: #fff;
}

.logo span {
    color: #FF715B;
}

.widget h4 {
    color: #fff;
    font-weight: 600;
}

.widget a {
    color: rgba(255, 255, 255, 0.7);
}

.widget p {
    color: rgba(255, 255, 255, 0.7);
}

.footer-btm {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.footer-socials li a {
    margin-right: 7px;
}

.copyright {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.copyright a {
    color: rgba(255, 255, 255, 0.8);
}

.widget-contact h6 {
    font-weight: 500;
    margin-bottom: 18px;
}

.widget-contact h6 i {
    color: #FF715B;
}


/**************************************************/

.c-gradient__title.hero--size.hero--height {
    background-image: -webkit-gradient(linear, left top, right top, from(#2feab8), color-stop(31%, #13b5ea), color-stop(65%, #943cff));
    background-image: linear-gradient( 90deg, #2feab8, #13b5ea 31%, #943cff 65%);
    line-height: 120%;
}

.c-gradient__title.hero--size {
    font-size: 4.5em;
}

.c-gradient__title {
    margin-top: 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(#2feab8), color-stop(38%, #13b5ea), color-stop(80%, #943cff));
    background-image: linear-gradient( 90deg, #2feab8, #13b5ea 38%, #943cff 80%);
    font-family: Avenir, sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    font-size: 38px;
    line-height: 1.7;
    font-weight: 700;
}

.c-gradient__title.hero--size.hero--height {
    background-image: -webkit-gradient(linear, left top, right top, from(#2feab8), color-stop(31%, #13b5ea), color-stop(65%, #943cff));
    background-image: linear-gradient( 90deg, #2feab8, #13b5ea 31%, #943cff 65%);
    line-height: 120%;
}

.c-gradient__title.hero--size {
    font-size: 4.5em;
}

.c-gradient__title {
    margin-top: 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(#2feab8), color-stop(38%, #13b5ea), color-stop(80%, #943cff));
    background-image: linear-gradient( 90deg, #2feab8, #13b5ea 38%, #943cff 80%);
    font-family: Avenir, sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    font-size: 38px;
    line-height: 1.7;
    font-weight: 700;
}